@import "./../abstracts/variables";

.Button {
  background-color: $btn-basic-color;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
}

.Button_POSITIVE {
  background-color: $btn-positive-color;
  color: $btn-text-color;
}

.Button_NEGATIVE {
  background-color: $btn-negative-color;
  color: $btn-text-color;
}
