@import "../abstracts/variables";

.Editor {
  display: flex;
  gap: 10px;

  input {
    flex: 1;
    padding: $padding-base;
    border: 1px solid $main-border-color;
    border-radius: 5px;
  }

  button {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: $main-color;
    color: white;
    border-radius: 5px;
  }
}
